$green: #24ff8e;
$orange: #ff0000;
$dark_green: #125d0b;

$colors : #fedc00 0,
			#fedc00 1/18 * 100%,
			#fcb712 0,
			#fcb712 2/18 * 100%,
			#f7921e 0,
			#f7921e 3/18 * 100%,
			#e87f24 0,
			#e87f24 4/18 * 100%,
			#dd6227 0,
			#dd6227 5/18 * 100%,
			#dc4c27 0,
			#dc4c27 6/18 * 100%,
			#ca3435 0,
			#ca3435 7/18 * 100%,
			#b82841 0,
			#b82841 8/18 * 100%,
			#953751 0,
			#953751 9/18 * 100%,
			#364c88 0,
			#364c88 10/18 * 100%,
			#16599d 0,
			#16599d 11/18 * 100%,
			#02609e 0,
			#02609e 12/18 * 100%,
			#0073a9 0,
			#0073a9 13/18 * 100%,
			#008aa4 0,
			#008aa4 14/18 * 100%,
			#239a87 0,
			#239a87 15/18 * 100%,
			#7cba6d 0,
			#7cba6d 16/18 * 100%,
			#becc2f 0,
			#becc2f 17/18 * 100%,
			#e0d81d 0,
			#e0d81d 18/18 * 100%;

body {
  font-family: 'Roboto', sans-serif;
  background: 
		repeating-radial-gradient(circle at bottom left, $colors),
		repeating-radial-gradient(circle at bottom right, $colors);
    background-blend-mode: hard-light;
    height: 103vh;
  color: #fff;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.history-wrapper {
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  .history {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      text-align: left;
      &:before {
        content: '';
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: $green;
        margin-right: 4px;
        margin-bottom: 1px;
      }

      .btn-move {
        color: #fff;
        &.active {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }
}

.status-message {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: lighter;

  span {
    font-weight: normal;
    
  }
}

.btn-reset {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 25px;
  transition: all 0.2s;
  background-color: #ce9800;
  box-shadow: 0px 0px 0px 1px $orange;
  &.active {
    background-color: $orange;
    box-shadow: none;
  }
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff;
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 80px;
      height: 80px;
      border-right: 2px solid #fff;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      &:last-child {
        border-right: none;
      }
      &.winning {
        animation: scaleText 1.4s infinite;
        @keyframes scaleText {
          0% {
            transform: 2.5rem;
          }
          50% {
            font-size: 3.5rem;
          }
          100% {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &:before {
    background-color: $orange;
    right: -75px;
    bottom: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      right: -110px;
      bottom: -110px;
    }
  }

  &:after {
    background-color: $green;
    top: -75px;
    left: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      top: -110px;
      left: -110px;
    }
  }
}
